version: "3.8"

services:
  bd:
    image: postgres:16
    container_name: first-api-postgres
    restart: "no"
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: firstapidb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - first-api-network
  aspire:
    image: mcr.microsoft.com/dotnet/nightly/aspire-dashboard:latest
    ports:
      - 18888:18888 # Dashboard web interface
      - 18889:18889 # OTLP/gRPC
    environment:
      - DOTNET_DASHBOARD_UNSECURED_ALLOW_ANONYMOUS=true

volumes:
  postgres_data:
networks:
  first-api-network:
    driver: bridge
